/* Tipography */



body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--bg-color);
}

p {
  color: var(--secondary-color);
	line-height: 1.8em;
	font-size: 1.1em;
	font-weight: 300;
	letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--secondary-color);
	font-weight: 600;
    line-height: 1.15em;
    margin-bottom: 1em;
}

h1 {
	font-size: 3em;
}

.h1-fun {
  font-family: 'Kalam', cursive;
  color: var(--primary-color);
}

h2 {
	font-size: 3.3em;
	margin-bottom: 0.5em;
}

.h2-fun {
  font-family: 'Kalam', cursive;
  color: var(--primary-color);
}

.footer {
  font-size: 0.8em;
  opacity: 0.5;
}

.footer span {
	font-size: 0.7em;
}


.btn-primary {
	background-color: var(--primary-color);
  color: var(--bg-color);
  border: 0;
}

.btn-primary:hover, .button-primary:active {
	background-color: var(--secondary-color);
  color: var(--bg-color);
  border: 0;
}

.img {
  max-width: 200%;
}



/* Media queries */

@media screen and (max-width: 900px) {

  body {
    text-align: center;
  }

  .img {
    max-width: 100%;
  }
}
