:root {
	--primary-color: #4CE29A;
	--secondary-color: #AFF3D2;
	--dark-grey: #404040;
	--medium-grey: #707070;
	--light-grey: #909090;
	--white-grey: #c1c1c1;
	--offwhite: #AFF3D2;
	--bg-color: #1A5B3C;
}