
/*Batcave styles*/

.opacity {
	opacity: 0.3;
}

.bg-color-bat {
	background-color: #444547;
}


.batlogo-mini {
	width: 20px;
	height: auto;
}

.batlogo-resize {
	width: 100px;
	height: auto;
	padding-top: 40px;
}

/*Text styles*/

h1 {
	font-size: 54px;
	font-weight: 500;
	color: #979fa3;
	line-height: 1.1;
}

h3 {
	font-size: 24px;
	font-weight: 400;
	color: #979fa3;
}

h6 {
	font-size: 12px;
	font-weight: 400;
	color: #878d91;
}

.h6-light {
	font-size: 12px;
	font-weight: 400;
	color: #d4d7d8;
}

p {
	color: #878d91;
}

.title {
	padding-top: 120px;
	padding-bottom: 20px;
}

.bg-color {
	background-color: #F6F7FA;
}

.container {
  width: auto;
  max-width: 1024px;
  padding: 40px;
}

.footer {
	margin-top: 50vh;
}

.links {
	color: #878d91;
	text-decoration: none;
	font-weight: 700;
}


.links:hover {
	color: #53636b;
	text-decoration: none;
}

.links-light {
	color: #d4d7d8;
	text-decoration: none;
	font-weight: 700;
}

.links-light:hover {
	color: #53636b;
	text-decoration: none;
}

.img-resize {
	width: 250px;
	height: auto;
	transform: scaleX(-1);
}

